@model GestionDieta.Models.Paciente
@{
    ViewBag.Title = "Gestión Paciente";
}

<br />
<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">Datos Paciente</div>
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="paciente" role="form" method="post" action="/Paciente/Crear">

            <table class="table table-striped">

                <tr>
                    <td>Tipo de documento</td>
                    <td>
                        @Html.DropDownListFor(p => p.TipoDocumento.IdTipoDocumento, (IEnumerable<SelectListItem>)ViewBag.TiposDocumento, string.Empty, new { @class = "form-control", @data_validation = "required", data_validation_error_msg = "Debe seleccionar un tipo de documento" })
                    </td>
                    <td>Número de documento</td>
                    <td>
                        @Html.TextBoxFor(p => p.NumeroDocumento, new { @class = "form-control numero", @placeholder = "Número de documento", @maxlength = "20", @data_validation = "required", data_validation_error_msg = "Debe ingresar el número de documento" })
                    </td>
                </tr>
                <tr>
                    <td>Primer nombre</td>
                    <td>
                        @Html.TextBoxFor(p => p.PrimerNombre, new { @class = "form-control", @placeholder = "Primer Nombre", @maxlength = "100", @data_validation = "required", data_validation_error_msg = "Debe ingresar el primer nombre" })
                    </td>
                    <td>Segundo nombre</td>
                    <td>
                        @Html.TextBoxFor(p => p.SegundoNombre, new { @class = "form-control", @placeholder = "Segundo Nombre", @maxlength = "100" })
                    </td>
                </tr>
                <tr>
                    <td>Primer apellido</td>
                    <td>
                        @Html.TextBoxFor(p => p.PrimerApellido, new { @class = "form-control", @placeholder = "Primer Apellido", @maxlength = "100", @data_validation = "required", data_validation_error_msg = "Debe ingresar el primer apellido" })
                    </td>
                    <td>Segundo apellido</td>
                    <td>
                        @Html.TextBoxFor(p => p.SegundoApellido, new { @class = "form-control", @placeholder = "Segundo Apellido", @maxlength = "100" })
                    </td>
                </tr>
                <tr>
                    <td>Fecha de nacimiento</td>
                    <td>
                        <div class='input-group date fecha'>
                            @Html.TextBoxFor(p => p.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "Fecha de Nacimiento", @maxlength = "10", @data_validation = "required", data_validation_error_msg = "Debe ingresar la fecha de nacimiento" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td>Sexo</td>
                    <td>
                        Masculino
                        @Html.RadioButtonFor(p => p.Sexo, "M")&nbsp;
                        Femenino
                        @Html.RadioButtonFor(p => p.Sexo, "F")
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        @Html.HiddenFor(p => p.IdPaciente)
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                </tr>
            </table>
            <div class="modal fade" id="confirmacionAlmacenamientoPaciente"
                 tabindex="-1" role="dialog"
                 aria-labelledby="confirmacionAlmacenamientoPacienteLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="alert alert-info">
                                <strong>
                                    Registro Paciente
                                </strong>
                            </div>
                        </div>
                        <div class="modal-body">
                            El paciente se ha registrado exitosamente
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-ok" data-dismiss="modal">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validateOnBlur: false, // disable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' which is default
        scrollToTopOnError: false, // Set this property to true on longer forms
        language: spanishLanguage
    });

    $('.fecha').datepicker({
        language: "es",
        autoclose: true,
        format: "dd/mm/yyyy",
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#paciente').submit(function (event) {
        if ($('#NumeroDocumento').val().length < 6) {
            bootstrap_alert.warning('El número de documento debe tener mínimo seis dígitos');
            return false;
        }
        if (!$('#Sexo:checked').val() != "") {
            bootstrap_alert.warning('Debe seleccionar el sexo');
            return false;
        }

        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearAJAX", "Paciente")',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.mensaje == "") {
                    if ($('#IdPaciente').val() == "0") {
                        $('#NumeroDocumento').val("");
                        $('#TipoDocumento_IdTipoDocumento').val("");
                        $('#PrimerNombre').val("");
                        $('#SegundoNombre').val("");
                        $('#PrimerApellido').val("");
                        $('#SegundoApellido').val("");
                        $('#FechaNacimiento').val("");
                        $("input[name='Sexo']").prop("checked", false);
                    }
                    $('#confirmacionAlmacenamientoPaciente').modal('show');
                } else {
                    bootstrap_alert.warning(response.mensaje);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                bootstrap_alert.warning("Error al almacenar el paciente.");
            }
        });
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
            html('<div class="alert alert-danger">' +
            '<a class="close" data-dismiss="alert">×</a><span>'
            + message + '</span></div>');
    };

</script>
